html{
position : relative;
min-height:100%;
margin:0;
}

body{
min-height:100%;
}

.content{
    width : 1509px;
    margin:0 auto;
    padding:0 0 0 0;
    padding-top : 80px;

}

*{
line-height:1.6;
box-sizing:border-box;
font-size : 18px;
color : #3d3a35;

}