<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div class="container mt-5">
        <div class="alert alert-danger text-center" role="alert">
            <h4 class="alert-heading">결제에 실패했습니다.</h4>
            <p>죄송합니다. 결제 처리 중 문제가 발생했습니다.</p>
            <hr>
            <p class="mb-0">
                <a href="/" class="btn btn-primary">메인으로 돌아가기</a>
                <a href="javascript:history.back()" class="btn btn-secondary">이전 페이지로</a>
            </p>
        </div>
    </div>
</div>

</html> 