<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}">
        <title>답변하기</title>
      </head>

<div layout:fragment="content">
    <div class="container my-5">
        <h2 class="mb-4">질문답변</h2>
        <form th:action="@{/admin/qna/answer/save}" method="post" th:object="${answerDto}">
            <input type = "hidden" name="questionId" value="${question.id}">

            <div class="form-group mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" th:field="*{question.title}" required>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
            </div>

            <div class="form-group mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="form-control" id="content" th:field="*{content}" rows="10" required></textarea>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary me-md-2">등록하기</button>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

        </form>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function() {
            const errorMessage = [[${errorMessage}]];
            if (errorMessage) {
                alert(errorMessage);
            }
        });
    </script>
</th:block>

</html>
