<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>브랜드스토리</title>
</head>
<body>
<div id="container" style="margin-bottom: 411px;">
    <div id="contents">


        <div class="sub_content">

            <div class="about">
                <section class="about_header">
                    <div class="about_header_top">
                        <img src="https://manyo08552.cdn-nhncommerce.com/img/brand/PC_brandstory/1_01.png" alt="">
                        <div class="inner-basic about_box img-ani bottom-top img-aniload">
                            <div class="about_header_tit">
                                <h2 class="ir tit_color">as you wish, skin wizard</h2>
                                <p class="tit_color">피부 고민, 원하는 대로. 스킨 위저드 드라마</p>
                            </div>
                        </div>
                    </div>
                    <div class="about_header_bot">
                        <div class="inner-basic about_box">
                            <div class="about_story_tit">
                                <h3 class="header_sub_tit sub_tit en img-ani bottom-top img-aniload">brand story</h3>
                                <p class="img-ani bottom-top img-aniload">
                                    당신이 원하는 대로 마법 같은 피부 변화를 만드는 곳
                                    <br>
                                    이곳은 피부에 진심인 위저드들의 드라마입니다.
                                </p>
                            </div>
                            <div class="about_story_cont img-ani bottom-top trans03 img-aniload">
                                <strong class="img-ani bottom-top img-aniload">
                                    타협하지 않는 까다로운 성분 원칙과 섬세한 차이가 주는 확실한 효과
                                </strong>
                                <p class="img-ani bottom-top img-aniload">
                                    바로 이 순간 나를 위해 준비된 듯한 놀라운 제품을 만나는 경이로움,
                                    <br>
                                    한 사람 한 사람을 위한 드라마의 진심을 담아 당신이 꿈꿔왔던 아름다움을 이루어 드릴게요
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="about_promise promise1">
                    <div class="about_promise_tit en img-ani bottom-top img-aniload">
                        <strong>
                            promise
                            <span class="txt_bar"></span>
                            <span class="txt_num">01</span>
                        </strong>
                        <h3>
                            우리는 당신이 원하는
                            <br>
                            피부를 실현하는 스킨 위저드입니다.
                        </h3>
                        <span>we are skin wizards</span>
                    </div>
                    <div class="about_img_area">
                        <div class="padding_right img-ani bottom-top img-aniload">
                            <img src="" alt=""> <!-- 이미지 넣기 -->
                        </div>
                        <div class="img-ani right-left tran03 img-aniload">
                            <img src="" alt=""><!-- 이미지 넣기 -->
                        </div>
                    </div>
                    <div class="inner-basic about_box">
                        <div class="about_txt_area img-ani bottom-top img-aniload">
                            <b>
                                드라마의 모든 것에는 고객이 원하는
                                <br>
                                피부를 실현하기 위한 피부를 향한 진심이 담겨 있습니다
                            </b>
                            <p>
                                드라마만의 풍부한 인사이트를 통해 안전하고 효과적인 맞춤 솔루션을
                                <br>
                                제안하여 고객이 원하는 이상적인 피부를 실현하는데 온 노력을 기울입니다
                                <br>
                                우리는 고객들의 각각의 라이프 스타일과 피부 고민에 꼭 맞는 베네핏을 제안하고 눈에 보이는
                                <br>
                                효과를 줄 수 있는 검증된 원료를 선택한 후 그 효능을 최적화하는 성분 프로포션을 조율합니다
                                <br>
                                계절, 피부 타입, 텍스처의 감도, 사용상의 효용성을 따져 디테일한 처방 개선을 통한 제품을 선보입니다
                            </p>
                        </div>
                    </div>
                </section>
                <section class="about_promise promise2">
                    <div class="about_promise_tit en img-ani bottom-top img-aniload">
                        <strong>
                            promise
                            <span class="txt_bar"></span>
                            <span class="txt_num">02</span>
                        </strong>
                        <h3>우리는 경이로움을 만듭니다</h3>
                        <span>we do wonders</span>
                    </div>
                    <div class="inner-basic">
                        <div class="about_box">
                            <div class="about_img_area">
                                <div class="padding_right img-ani bottom-top img-aniload">
                                    <img src="" alt=""> <!-- 이미지 넣기 -->
                                </div>
                                <div class="img-ani bottom-top tran03 img-aniload">
                                    <img src="" alt=""> <!-- 이미지 넣기 -->
                                </div>
                            </div>
                            <dl class="promise2_txt_area wonder1">
                                <dt class="img-ani bottom-top img-aniload">
                                    <span class="wonder en">wonder 01</span>
                                    <span class="wonder_bar"></span>
                                    <span class="wonder_sub">성분</span>
                                </dt>
                                <dd>
                                    <strong class="img-ani bottom-top tran03 img-aniload">
                                        드라마는 섬세한 차이가 경이로움을 만들어낸다는 믿음으로
                                        <br>
                                        제품 하나 하나에 드라마만의 까다로운 성분 원칙을 적용합니다
                                    </strong>
                                    <p class="img-ani bottom-top tran03 img-aniload">
                                        드라마의 탄생부터 지금까지 그리고 앞으로도 좋은 성분에 대한 원칙은 변하지 않습니다
                                        <br>
                                        논란이 되는 유해 성분을 제품에 넣지 않으며 자극은 줄이되 효능은 극대화하는
                                        <br>
                                        대체 성분을 찾는 노력을 기울이고 있습니다
                                        <br>
                                        이러한 엄격한 원칙으로 만든  드라마 제품은
                                        <br>
                                        당신의 피부에 편안함과 경이로운 변화를 동시에 선사합니다
                                    </p>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="about_img_area img-ani bottom-top tran03 img-aniload">
                        <img src="" alt="">  <!-- 이미지 넣기 -->
                    </div>
                    <div class="inner-basic">
                        <div class="about_box">
                            <dl class="promise2_txt_area wonder2">
                                <dt class="img-ani bottom-top img-aniload">
                                    <span class="wonder en">wonder 02</span>
                                    <span class="wonder_bar"></span>
                                    <span class="wonder_sub">친환경</span>
                                </dt>
                                <dd>
                                    <strong class="img-ani bottom-top tran03 img-aniload">
                                        드라마는 자연과 지구의 부담을 줄이고
                                        <br>
                                        오래도록 함께 하기 위한 방법을 연구합니다
                                    </strong>
                                    <p class="img-ani bottom-top tran03 img-aniload">
                                        전 제품의 테이프-리스(tape-less) 포장재 유통을 실시하고 있으며, 친환경 제지와
                                        <br>
                                        플라스틱 배출을 줄인 용기, 제거하기 쉬운 라벨, 분리배출이 쉽고 리필 가능한 패키징 등
                                        <br>
                                        지구를 생각한 eco-packaging 시스템을 적극적으로 실시합니다
                                        <br>
                                        이러한 노력들은 우리를 살아갈 수 있게 하는
                                        <br>
                                        자연과 지구에 경의를 표하는 드라마의 마음입니다
                                    </p>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="about_img_area img-ani bottom-top tran03 img-aniload">
                        <img src="" alt="">  <!-- 이미지 넣기 -->
                    </div>
                    <div class="inner-basic">
                        <div class="about_box">
                            <dl class="promise2_txt_area wonder3">
                                <dt class="img-ani bottom-top img-aniload">
                                    <span class="wonder en">wonder 03</span>
                                    <span class="wonder_bar"></span>
                                    <span class="wonder_sub">일상</span>
                                </dt>
                                <dd>
                                    <strong class="img-ani bottom-top tran03 img-aniload">
                                        드라마는 매일의 일상 속에서 기분 좋은
                                        <br>
                                        놀라움을 드리기 위해 노력합니다
                                    </strong>
                                    <p class="img-ani bottom-top tran03 img-aniload">
                                        소중한 일상의 경험을 존중하며 하루 중 문득 새어 나오는 미소의 가치를 알기에
                                        <br>
                                        당신에게 그런 일상 속 행복을 선사하기 위해 고민합니다
                                        <br>
                                        예고 없이 싱그러운 꽃다발로 우울한 마음을 위로하고
                                        <br>
                                        마음을 울리는 깜짝 공연으로 아름다운 하루를 선물합니다
                                        <br>
                                        한 사람 한 사람의 일상 속 설레는 변화,
                                        <br>
                                        마법 같은 행복을 위해 오늘도 드라마는 세심한 경이로움을 만들고 있습니다
                                    </p>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </section>
                <section class="about_promise promise3">
                    <div class="about_promise_tit en img-ani bottom-top img-aniload">
                        <strong>
                            promise
                            <span class="txt_bar"></span>
                            <span class="txt_num">03</span>
                        </strong>
                        <h3>
                            작은 실천이 우리의 세상에
                            <br>
                            가져올 기적을 믿습니다
                        </h3>
                        <span>
                    we believe in miracles for the world
                </span>
                    </div>
                    <div class="inner-basic about_box">
                        <div class="about_img_area">
                            <div class="img-ani bottom-top img-aniload">
                                <img src="" alt="">  // 이미지 넣기
                            </div>
                        </div>
                        <div class="about_txt_area">
                            <b class="img-ani bottom-top img-aniload">
                                드라마는 작은 실천이 쌓여 큰 기적을 일으킨다고 믿기에
                                <br>
                                우리의 주위를 세심하게 살피고 적극적으로 실천하겠습니다
                            </b>
                            <p class="img-ani bottom-top img-aniload">
                                이웃, 취약계층, 동물, 사회, 자연, 지구 …
                                <br>
                                우리를 둘러싼 세상의 아름다운 가치를 존중하고 배려하며
                                <br>
                                미처 시선이 닿지 못한 곳은 없는지 매달 적극적으로 주위를 살피며 마음을 쏟겠습니다
                                <br>
                                우리는 드라마와 함께 하는 당신의 삶이 보다 가치 있다고 느끼길 바랍니다
                                <br><br>
                                우리가 살아가는 이 세상이 매일 조금씩 더 아름다워질 수 있도록
                                <br>
                                작지만 정직한 걸음을 멈추지 않겠습니다
                            </p>
                        </div>
                    </div>
                </section>
                <section class="about_footer">
                    <div class="inner-basic about_box">
                        <div class="footer_logo img-ani bottom-top tran04 img-aniload">
                            <img src="" alt="">  <!-- 이미지 넣기 -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- //sub_content -->
    </div>
    <!-- //본문 끝 contents -->
</div>

</body>
</html>