<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>오시는 길</title>
</head>
<div layout:fragment="content">

    <h1>오시는 길 입니다.</h1>
    <div id="map" style="width:500px;height:400px;"></div>
</div>


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b32bbbc548342635f9476301c2b5dae4"></script>
<script>
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(37.5510287981739,126.863577264226),
        level: 2 // 지도의 확대 레벨
    };

    var map = new kakao.maps.Map(container, options);

    var iwContent = '<div style="padding:5px; text-align:center;">마녀공장</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
    iwPosition = new kakao.maps.LatLng(37.5510287981739, 126.863577264226), //인포윈도우 표시 위치입니다
    iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

    // 인포윈도우를 생성하고 지도에 표시합니다
var infowindow = new kakao.maps.InfoWindow({
    map: map, // 인포윈도우가 표시될 지도
    position : iwPosition,
    content : iwContent,
    removable : iwRemoveable
});

// 아래 코드는 인포윈도우를 지도에서 제거합니다
// infowindow.close();
</script>

</html>